.navbar {
    width: 90%;
    max-width: $main-width;
    padding: 0 2rem;
    margin: 1.5rem auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;

    .logo__box {
        padding: 1rem;
    }

        label {
            opacity: .5;
            color: $white-color;
            padding: 0 1rem;
            font-size: 4rem;
            cursor: pointer;
            display: none;
        }

        input[type=checkbox] {
            display: none;
    
    }
    .menu {

      
        
        &__list {
            list-style: none;
           
            &__item {
                display: inline-block;
                padding: 1rem;
                margin: 0 2rem;

                &:last-child {
                    margin: 0 0 0 2rem;
                }
              

                &:hover > a {
                    opacity: 1;
                }

                a {
                    color: $white-color;
                    text-decoration: none;
                    transition: .7s all;
                    opacity: .5;
                }
            }
        }
    }
}



.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.521);
    margin-top: 0;
    max-width: unset;
    width: 100%;
    transition: .5s background-color;

    label {
        margin-right: 3rem;
    }

        .menu {
            display: flex;
            justify-content: flex-end;
            margin-right: 5rem;
        
            &__list {
                list-style: none;
               
                &__item {
            
                    &:hover > a {
                        opacity: 1;
                    }
    
                    a {
                        color: $dark-grey-color;
                    }
                }
            }
        
    }
}

@media(max-width:890px) {
    .navbar {
            label {
                z-index: 1000;
                position: relative;
                display: inline-block;
                color: $dark-grey-color;
                mix-blend-mode: difference;
            }

    

        #toggler:checked + .menu {
            position: absolute;
            top: 0;
            right:0;
            width: 100%;
            margin: 0;
            padding: 8rem 0 0 0;
            display: block;
            background-color: $dark-grey-color;

            .menu__list {
                border-top: 1px solid rgba(255, 255, 255, 0.212);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
            .menu__list__item {
              margin: 0;

              a {
                color: $white-color;
             }
              
            }
        }
           
        }
        
         .menu {
            position: fixed;
            display: none;
        }
    }
}